@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;1,300&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
.bg-blue {
  background:  rgba(240, 249, 247, 1);
  border-radius: 2px;
  width: 100%;
}
input {
  border: 0.5px #5c7a7b solid;
  border-radius: 2px;
}

#input-text{
    font-weight: 300;
    margin-left: 3px;
    width: 100%;
}
.search-btn {
  background-color: #5c7a7b;
  color: #fff;
  padding: 2px 20px;
  font-weight: 200;
  border-radius: 2px;
}
input[type="text"], textarea {
    background-color : #fafafa; 
  }
.search-btn:hover {
  transition: all 1.2s ease-in-out;
  padding: 2px 4px;
}
.search-result {
  font-weight: 200px;
  font-size: 12px;
  color: #5c7a7b !important;
  text-transform: capitalize;
}
#city {
  text-transform: capitalize;
}
h1,
h2,
h3,
h4,
p {
  color: #5c7a7b !important;
}
.weather-card {
  background: none;
  padding: 10px;
  color: #5c7a7b;
}
@media (min-width: 276px) { 
    .body-div {
        width: 100%;
    }
}
@media (min-width: 576px) { 
    .body-div {
        width: 700;
    }
}
@media (max-width: 600px) {
  .weather-card {
    border-bottom: #5c7a7b 2.5px solid;
    width: 50%;
    margin: 0 auto;
  }
  p {
    font-size: 1.2rem;
  }
  .top-weather {
    padding-bottom: 50px;
    border-bottom: #5c7a7b 2.5px solid;
  }

}
@media (min-width: 650px) {
  .weather-card img {
    color: #5c7a7b;
    width: 80px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
  }
  .body-div {
      width: 700px;
  }
}
.temp-text {
  font-weight: 200;
  font-size: 20px;
}
#showF:hover,
#showC:hover {
  font-weight: 400;
  font-size: 22px;
  cursor: pointer;
}
